.formControl {

}

.error {
   
}

.formControl.error input {
   border: solid red 3px;
}

.formControl.error textarea {

   border: solid red 3px;
}

.formControl.error span {
   color: red;
}

.formSummaryError {
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 5px;
   width: 300px;
   background-color: red;
}
