.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.dialog {
  color: white;
}

.active {
  color: white;
}

.messages {
  padding: 10px;
}

.message {
color: black
}
